Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
Werkzeug==0.9.6
cffi==0.8.6
cryptography==0.7.2
docopt==0.6.2
enum34==1.0.4
gunicorn==19.1.1
ipython==2.3.1
itsdangerous==0.24
lxml==3.4.1
mandrill==1.0.57
ndg-httpsclient==0.3.3
newrelic==2.42.0.35
psycopg2==2.5.4
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
requests==2.5.1
six==1.9.0
wsgiref==0.1.2
