{% extends "base.html" %}
{% set title = 'Edit' %}
{% block content %}

<form class="form-horizontal" method="POST" action="">
    <div class="control-group">
        <label class="control-label" for="inputTitle">Title</label>
        <div class="controls">
            <input type="text" name="title" id="inputTitle" placeholder="Title"
            required value="{{ page.title }}">
            <span class="help-inline">Should be the same as <tt>BLOG_TITLE</tt>.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputAuthor">Author</label>
        <div class="controls">
            <input type="text" name="author" id="inputAuthor"
            placeholder="Author" required value="{{ page.author }}">
            <span class="help-inline">Pseudonym, real name, what floats your
                boat.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="email" name="email" id="inputEmail"
            placeholder="Email" required value="{{ page.email }}">
            <span class="help-inline">Will not be published if you do not want to.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputURL">URL</label>
        <div class="controls">
            <input type="url" name="url" id="inputURL" placeholder="URL"
            required value="{{ page.url }}">
            <span class="help-inline">Should be the same as <tt>SITE_URL</tt>.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputDescription">Description</label>
        <div class="controls">
            <textarea name="description" id="inputDescription" placeholder="Description"
                maxlength="250" required rows="5">{{ page.description }}</textarea>
            <span class="help-inline">Up to 250 characters.  (we’re quite
                generous!)</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputSource">Site source</label>
        <div class="controls">
            <input type="url" name="sourcelink" id="inputSource"
            placeholder="Site source" value="{% if page.sourcelink %}{{
            page.sourcelink }}{% endif %}">
            <span class="help-inline">Link to your site source on GitHub (if any)</span>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input name="visible" type="checkbox" {% if page.visible
                %}checked{% endif %}> Show this page.
            </label>
            <label class="checkbox">
                <input name="tos" type="checkbox" required checked disabled> I agree to the <a
                    href="/tos/">Terms of
                    Service and Privacy Policy</a>.
            </label>
            <label class="checkbox">
                <input name="publishemail" type="checkbox" {% if page.publishemail %}checked{% endif %}> I want my e-mail
                visible publicly.
            </label>
            <button type="submit" class="btn" name="edit" value="1">Edit</button>
        </div>
    </div>
</form>

{% endblock %}
