{% extends "base.html" %}
{% set title = "Manage" %}
{% block content %}
{% if 'username' not in session %}
<p class="text-error">Access denied.</p>
{% else %}
{% if not data %}
<p class="text-error">No pages exist.</p>
{% else %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Email</th>
            <th>URL</th>
            <th>Source</th>
            <th>Languages</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for p in data %}
        <tr class="{% if p.visible %}success{% else %}danger{% endif %}">
            <td>{{ p.id|e }}</td>
            <td>{{ p.title|e }}</td>
            <td>{{ p.author|e }}</td>
            <td><i class="glyphicon{% if p.publishemail %}glyphicon-eye-open{% else
                    %}glyphicon-eye-close{% endif %}"></i> <a href="mailto:{{
                    p.email|e }}">{{ p.email|e }}</a></td>
            <td><a href="{{ p.url|e }}">{{ p.url|e }}</a></td>
            <td><i class="glyphicon {% if p.sourcelink %}glyphicon-ok{% else
                    %}glyphicon-remove{% endif %}"></i></td>
            <td>
                {% for i in p.languages %}
                <img src="/public/icons/{{ icons[i] }}.png">
                {% endfor %}
            <td style="width: 7em;">
                <form style="margin: 0;" method="POST"
                    action="/acp/{{ p.id }}/">
                    <div class="btn-group">
                    <button type="submit" name="toggle" class="btn btn-xs
                        {% if p.visible %}btn-info{% else %}btn-success{% endif %}">
                        <i class="glyphicon glyphicon-eye-{% if p.visible %}close{% else %}open{% endif %}"></i>
                    </button>
                    <button type="submit" name="edit" class="btn btn-xs
                        btn-primary">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="submit" name="delete" class="btn btn-xs btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}
