{% extends "base.html" %}
{% block content %}
<p class="text-danger lead">Something went wrong.</p>
{% if reason == 'tos_pub' %}
<p class="text-danger">You need to accept the Terms of Service and acknowledge data publication.</p>
{% elif reason == 'duplicate' %}
<p class="text-danger">There is an entry for this page already — you should <a href="/edit/">request an edit</a>.</p>
{% else %}
<p class="text-danger">The following errors occurred:</p>
<div class="text-danger">
{{ reason }}
</div>

{% endif %}

<p>Please press the Back button and fix those problems.</p>
{% endblock %}
