{% extends "base.html" %}
{% block content %}

<form class="form-horizontal" method="POST" action="">
    {% csrf_token %}
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="inputTitle">Title</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Title"
            required maxlength="100">
            <span class="help-block">Should be the same as <tt>BLOG_TITLE</tt>.</span>
        </div>
    </div>
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="inputAuthor">Author</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" name="author" id="inputAuthor" placeholder="Author"
            required maxlength="100">
            <span class="help-block">Pseudonym, real name, what floats your
                boat.</span>
        </div>
    </div>
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="inputURL">URL</label>
        <div class="col-lg-10">
            <input type="url" class="form-control" name="url" id="inputURL" placeholder="URL" required maxlength="512">
            <span class="help-block">Should be the same as <tt>SITE_URL</tt>.</span>
        </div>
    </div>
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="inputDescription">Description</label>
        <div class="col-lg-10">
            <textarea name="description" class="form-control" id="inputDescription" placeholder="Description"
                maxlength="250" required rows="5"></textarea>
            <span class="help-block">Up to 250 characters.  (we’re quite
                generous!)</span>
        </div>
    </div>
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="inputSource">Site source</label>
        <div class="col-lg-10">
            <input type="url" class="form-control" name="sourcelink" id="inputSource"
            placeholder="Site source" maxlength="512">
            <span class="help-block">Link to your site source on GitHub (if any)</span>
        </div>
    </div>
    <div class="form-group form-row">
        <label class="control-label col-lg-2" for="selectLanguages">Languages</label>
        <div class="col-lg-10">
            <select multiple name="languages" id="selectLanguages" class="form-control">
                {% for l in langs %}
                <option value="{{ l.code }}">{{ l }}</option>
                {% endfor %}
            </select>
            <span class="help-block">Languages your site is in.  (choose at
                least one — use <strong>Ctrl</strong>/<strong>Cmd</strong> to choose multiple)</span>
            <p class="text-warning">If your language is not on the list,
            please <a
                href="https://github.com/getnikola/nikola-users/issues">report
                an Issue on GitHub</a>.</p>
        </div>
    </div>
    <div class="form-group form-row">
        <div class="offset-lg-10 col-lg-10">
            <label class="checkbox">
                <input name="tos" type="checkbox" required> I agree to the <a href="/tos/">Terms of Service and Privacy Policy</a>.
            </label>
            <button type="submit" class="btn btn-primary">Request addition</button>
        </div>
    </div>
</form>

{% endblock %}
