{% load static %}
<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# " lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title1 %}{{ title }}{% endblock %} | Some Sites Using Nikola</title>
<link href="https://getnikola.com/assets/css/all-nocdn.css" rel="stylesheet" type="text/css">
<meta name="theme-color" content="#f5ab14">
<!--[if lt IE 9]><script src="https://getnikola.com/assets/js/html5.js"></script><![endif]-->
</head>
<link href="{% static "users.min.css" %}" rel="stylesheet" type="text/css">
<body>
<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

<!-- Menubar -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top mb-4"><div class="container">
<!-- This keeps the margins nice -->
        <a class="navbar-brand" href="https://getnikola.com/">
            <img src="https://getnikola.com/assets/img/logo.svg" alt="Nikola" id="logo" class="d-inline-block align-top"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav mr-auto">
<li class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
            <div class="dropdown-menu">
                    <a href="https://getnikola.com/documentation.html" class="dropdown-item"><strong>Documentation Index</strong></a>
                    <a href="https://getnikola.com/getting-started.html" class="dropdown-item"><strong>Getting Started</strong></a>
                    <a href="https://getnikola.com/handbook.html" class="dropdown-item"><strong>Handbook</strong></a>
                    <a href="https://getnikola.com/features/index.html" class="dropdown-item"><strong>Features</strong></a>
                    <a href="https://getnikola.com/conf.html" class="dropdown-item">conf.py</a>
                    <a href="https://getnikola.com/changes.html" class="dropdown-item">Changelog</a>
                    <a href="https://getnikola.com/creating-a-theme.html" class="dropdown-item">Theming Tutorial</a>
                    <a href="https://getnikola.com/theming.html" class="dropdown-item">Theming Reference</a>
                    <a href="https://getnikola.com/extending.html" class="dropdown-item">Extending</a>
                    <a href="https://getnikola.com/internals.html" class="dropdown-item">Internals</a>
                    <a href="https://getnikola.com/creating-a-site-not-a-blog-with-nikola.html" class="dropdown-item">Creating a Site (Not a Blog)</a>
                    <a href="https://getnikola.com/license.html" class="dropdown-item">License</a>
            </div>
            </li>
<li class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support &amp; Contact</a>
            <div class="dropdown-menu">
                    <a href="https://github.com/getnikola/nikola/issues" class="dropdown-item">Issue Tracker</a>
                    <a href="https://groups.google.com/group/nikola-discuss" class="dropdown-item">Mailing List</a>
                    <a href="https://twitter.com/GetNikola" class="dropdown-item">Twitter</a>
                    <a href="https://irclogs.getnikola.com/" class="dropdown-item">IRC logs (#nikola@freenode)</a>
                    <a href="https://getnikola.com/contact.html" class="dropdown-item"><strong>All support options</strong></a>
            </div>
            </li>
<li class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add-ons</a>
            <div class="dropdown-menu">
                    <a href="https://themes.getnikola.com" class="dropdown-item">Themes</a>
                    <a href="https://plugins.getnikola.com" class="dropdown-item">Plugins</a>
                    <a href="https://github.com/getnikola/shortcodes" class="dropdown-item">Shortcodes</a>
            </div>
            </li>
<li class="nav-item dropdown">
<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Development</a>
            <div class="dropdown-menu">
                    <a href="https://github.com/getnikola/nikola" class="dropdown-item"><strong>Source code (GitHub)</strong></a>
                    <a href="https://github.com/getnikola/nikola/issues" class="dropdown-item">Issue Tracker</a>
                    <a href="https://getnikola.com/changes.html" class="dropdown-item">Changelog</a>
                    <a href="https://getnikola.com/license.html" class="dropdown-item">License</a>
                    <a href="https://getnikola.com/authors.html" class="dropdown-item">Contributors</a>
            </div>
                </li>
<li class="nav-item">
<a href="https://getnikola.com/blog/" class="nav-link">Blog</a>
                </li>
<li class="nav-item">
    <a href="/" class="nav-link active">Users<span class="sr-only"> (active)</span></a>

                
            </li>
</ul>
</div>
<!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav><!-- End of Menubar --><div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
<ul class="nav nav-pills">
    {% for mlink, mtitle, mpage in menu %}
    <li class="nav-item"><a class="nav-link{% if mpage == page %} active{% endif %}" href="{{ mlink }}">{{ mtitle }}</a></li>
    {% endfor %}
</ul>

<h1 class="entry-title">{% block title2 %}{{ title }}{% endblock title2 %}</h1>
{% block subtitle %}{% endblock %}

{% block content %}
{% endblock %}
<footer id="footer">
    Contents © 2012–2020 <a href="mailto:users@getnikola.com">Roberto Alsina
        and Chris Warrick</a>  |  Powered by Django  |  <a
        href="https://twitter.com/intent/user?screen_name=GetNikola">Follow Nikola on Twitter</a>  |  Theme is <a href="https://bootswatch.com/cerulean/">Cerulean</a>
    <p>This site is using cookies for authentication and security purposes.</p>
</footer>
</div>
</div>
<script src="https://getnikola.com/assets/js/all-nocdn.js" type="text/javascript"></script>
{% block extra_js %}{% endblock %}
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</body>
</html>
