{% extends "base.html" %}
{% set title = action|title %}
{% block content %}
<p>
In order to {{ action }} your site, simply email <a
    href="mailto:nikola-users@getnikola.com">nikola-users@getnikola.com</a>
— preferrably using the same e-mail address you did when you requested
addition.  {% if action == "remove" %}  Including a reason is recommended. {% endif %}
</p>

<p><small>PS. we do this because someone may make a fraudulent request.
    Sorry for the inconvenience.  (this may change at any given moment.)</small></p>
{% endblock %}
