{% extends "base.html" %}
{% set title = "{{ len(data) }} Sites" %}
{% block content %}
<div class="well well-sm" style="margin: 0 20px 20px 20px; font-size:
    14px;">
    Fancy seeing your site here?  Or the other way around?  Is
    the data incorrect?  If yes,
    <div class="btn-group">
        <a href="/add/" class="btn btn-success">Add</a>
        <a href="/edit/" class="btn btn-primary" id="edit-btn">Edit</a>
        <a href="/remove/" class="btn btn-danger" id="remove-btn">Remove</a>
    </div>

    <div id="edit-alert" class="alert alert-block alert-info" style="display:
        none; margin-top: 20px;">
        <h4>Edit</h4>
        <p>
        In order to edit your site, simply email <a
            href="mailto:users@getnikola.com">users@getnikola.com</a>
        — preferrably using the same e-mail address you did when you
        requested addition.
        </p>

        <p><small>PS. we do this because someone may make a
                fraudulent request.  Sorry for the
                inconvenience.  (this may change at any given moment.)</small></p>
    </div>

    <div id="remove-alert" class="alert alert-block alert-danger" style="display:
        none; margin-top: 20px;">
        <h4>Remove</h4>
        <p>
        In order to remove your site, simply email <a
            href="mailto:users@getnikola.com">users@getnikola.com</a>
        — preferrably using the same e-mail address you did when you
        requested addition.  Including a reason is recommended.
        </p>

        <p><small>PS. we do this because someone may make a
                fraudulent request.  Sorry for the
                inconvenience.  (this may change at any given moment.)</small></p>
    </div>
    <p class="text-muted" style="font-size: 14px;"><strong>Notice:</strong>
    Many sites are not
    fully described yet.  We apologize for the inconvenience.</p>
</div>

{% if not data %}
    <p class="text-error">No pages found…</p>
{% else %}
    <ul class="pages-line unstyled">
        {% for item in data %}
        <li class="col-md-3">
        <div class="thumbnail">
            {% if item.sourcelink != None %}
                <a href="{{ item.sourcelink|e }}" class="btn btn-sm
                    btn-primary">Source</a>
            {% else %}
                <a href="#" class="btn btn-primary btn-sm disabled">Source</a>
            {% endif %}
            <span class="pagelangs pull-right">
                {% if item.languages %}
                    {% for i in item.languages %}
                        <img src="/public/icons/{{ icons[i] }}.png">
                    {% endfor %}
                {% else %}
                    <img src="/public/icons/unknown.png">
                {% endif %}
            </span>

            <div class="caption" style="margin: 0; clear: both;">
                <h4 style="margin: 0;"><a href="{{ item.url|e }}">{{
                        item.title|e }}</a><br>
                    <small>by {% if item.publishemail %}<a href="mailto:{{
                            item.email|e }}">{% endif %}{{ item.author|e }}{% if
                            item.publishemail %}</a>{% endif %}
                    </small>
                </h4>
            </div>
            {% autoescape false %}
            {{ item.description|nl }}
            {% endautoescape %}
        </div>
        </li>
        {% if loop.index % 4 == 0 %}
    </ul><ul class="pages-line unstyled">
        {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
{% block js %}
<script>
$('#edit-btn').click(function() {
    $('#edit-alert').slideToggle();
    return false;
});
$('#remove-btn').click(function() {
    $('#remove-alert').slideToggle();
    return false;
});
</script>
{% endblock %}
