{% extends "base.html" %}
{% set title = "Sites (page 1)" %}
{% block content %}
<div class="well">
    Fancy seeing your site here?  Or the other way around?  Is
    the data incorrect?  If yes,
    <div class="btn-group">
        <a href="/add/" class="btn btn-primary">Add</a>
        <a href="/edit/" class="btn" id="edit-btn">Edit</a>
        <a href="/remove/" class="btn" id="remove-btn">Remove</a>
    </div>

    <div id="edit-alert" class="alert alert-block" style="display:
        none; margin-top: 20px;">
        <h4>Edit</h4>
        <p>
        In order to edit your site, simply email <a
            href="mailto:nikola-users@getnikola.com">nikola-users@getnikola.com</a>
        — preferrably using the same e-mail address you did when you
        requested addition.
        </p>

        <p><small>PS. we do this because someone may make a
                fraudulent request.  Sorry for the
                inconvenience.  (this may change at any given moment.)</small></p>
    </div>


    <div id="remove-alert" class="alert alert-block" style="display:
        none; margin-top: 20px;">
        <h4>Remove</h4>
        <p>
        In order to remove your site, simply email <a
            href="mailto:nikola-users@getnikola.com">nikola-users@getnikola.com</a>
        — preferrably using the same e-mail address you did when you
        requested addition.  Including a reason is recommended.
        </p>

        <p><small>PS. we do this because someone may make a
                fraudulent request.  Sorry for the
                inconvenience.  (this may change at any given moment.)</small></p>
    </div>
</div>

<ul class="pages-line unstyled">
    {% for item in data %}
    <li class="span4">
    <div class="thumbnail">
        <div class="caption">
            <h3><a href="{{ item[1] }}">{{ item[0] }}</a><br>
                <small>by {{ item[2] }}</small></h3>
        </div>

        <p>
        {{ item[3] }}
        </p>

        <p style="text-align: center;">
        <a href="{{ item[1] }}" class="btn btn-large btn-primary">Visit</a>
        {% if item[4] != None %}
        <a href="{{ item[4] }}" class="btn">Source</a>
        {% else %}
        <a href="#" class="btn disabled">Source</a>
        {% endif %}
        </p>
    </div>
    </li>
    {% if loop.index % 3 == 0 %}
</ul><ul class="pages-line unstyled">
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}
{% block js %}
<script>
$('#edit-btn').click(function() {
    $('#edit-alert').slideToggle();
    return false;
});
$('#remove-btn').click(function() {
    $('#remove-alert').slideToggle();
    return false;
});
</script>
{% endblock %}
