{% extends "base.html" %}
{% block content %}
<h2>General service terms</h2>
<ol>
    <li>The Service is provided <strong>as-is</strong>.  Any express or implied
    warranties, including, but not limited to, the implied warranties of
    merchantability and fitness for a particular purpose are disclaimed.</li>
    <li>Roberto Alsina and Chris Warrick do not guarantee error-free
    operation of the Service.</li>
    <li>In no event shall Roberto Alsina and Chris Warrick be liable for any
    damages caused by the use of the Service.</li>
    <li>You must be at least 13 years old to use the Service, as per the COPPA
    (US law).  You must also be a human being, robots and automated
    scripts are not allowed to use the Service.</li>
    <li>Roberto Alsina and Chris Warrick promise not to sell or abuse any of
    the details you entered while registering with the Service.</li>
</ol>

<h2>Content</h2>
<ol>
    <li>You are responsible for all the content you post.</li>
    <li>Content is pre-screened before publication; any abusive materials will
    be removed.</li>
    <li>Roberto Alsina and Chris Warrick have every right to remove any
    content that may have unlawful, offensive, or otherwise abusive content.</li>
    <li>Roberto Alsina and Chris Warrick claim no copyright or IP over your
    content.</li>
    <li>You must not post spam.</li>
    <li>Content posted by you must not harm the Service in any way.</li>
</ol>
{% endblock %}
